@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}
* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  border-radius: 0px !important;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #bdbdbd;
  outline: none;
  border-radius: 20px !important;
}

:target {
  scroll-margin-top: 60px;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  color: #0285ce;
}

a:hover {
  text-decoration: none;
  color: #ed693c;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
.container-fluid {
    padding: 0px 8px;
  }
}
video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.navbar-toggler {
  border: none;
  box-shadow: none !important;
}

.btn:focus {
  box-shadow: none;
}

body {
  background-color: #f3f3f9;
}

content {
  min-height: 50vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.select2-container--default .select2-selection--single {
  min-height: 48px;
  display: flex;
  align-items: center;
  border-color: #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: unset;
  top: 50%;
  transform: translateY(-50%);
}

span.select2.select2-container.select2-container--default {
  width: 100% !important;
}

.select2-results__option--selectable {
  border-radius: 4px;
  margin-bottom: 2px;
  transition: all 0.3s ease-in-out;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: #ed693c !important;
  color: #ffffff !important;
}

.select2-dropdown {
  border-radius: 4px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961) !important;
  border-color: transparent;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 10px 20px;
}

.form-control {
  min-height: 48px;
  box-shadow: none !important;
  color: #777;
}

.swiperContainer {
  position: relative;
}
.swiperContainer .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ed693c;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1254901961);
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.swiperContainer .swiper-button-next::after,
.swiperContainer .swiper-button-prev::after {
  font-size: 26px;
  font-family: "Font Awesome 6 pro";
}
.swiperContainer .swiper-button-next:hover,
.swiperContainer .swiper-button-prev:hover {
  background-color: #ed693c;
  color: #ffffff;
}
@media (max-width: 768px) {
  .swiperContainer .swiper-button-next,
.swiperContainer .swiper-button-prev {
    display: none;
  }
}
.swiperContainer .swiper-button-next {
  left: -60px;
  right: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-next {
    left: -40px;
  }
}
.swiperContainer .swiper-button-next::after {
  content: "\f053" !important;
}
.swiperContainer .swiper-button-prev {
  right: -60px;
  left: unset;
}
@media (max-width: 1240px) {
  .swiperContainer .swiper-button-prev {
    right: -40px;
  }
}
.swiperContainer .swiper-button-prev::after {
  content: "\f053" !important;
  transform: scaleX(-1);
}
.swiperContainer .swiper-pagination {
  width: auto !important;
  left: 50% !important;
  transform: translateX(-50%);
  background-color: transparent;
  border-radius: 4px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet {
  transition: all 0.3s ease-in-out;
  width: 16px;
  border-radius: 4px;
  opacity: 0.3;
  background-color: #ed693c;
  margin: 2px !important;
}
.swiperContainer .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #ed693c;
  width: 40px;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

.fancybox__caption {
  text-align: center;
}

@media (min-width: 768px) {
  .customCursor {
    width: 45px;
    height: 45px;
    border-radius: 100%;
    border: 1px solid rgba(68, 68, 68, 0.1882352941);
    transition: all 120ms ease-out;
    position: fixed;
    pointer-events: none;
    left: 0;
    top: 0;
    transform: translate(calc(-50% + 15px), -50%);
    z-index: 999999;
  }
  .customCursorInner {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgba(68, 68, 68, 0.5647058824);
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
    z-index: 999999;
  }
  .customHover {
    width: 70px;
    height: 70px;
    border-color: transparent;
    background-color: rgba(68, 68, 68, 0.1882352941);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.062745098);
  }
  .customClick {
    width: 40px;
    height: 40px;
  }
}
.odometer-inside {
  direction: ltr !important;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1024;
  transition: all 0.3s ease-in-out;
  background-color: #f3f3f9;
  margin-bottom: 20px;
}
header .number {
  background-color: #ed693c;
  color: #ffffff;
  height: 16px;
  font-size: 10px;
  min-width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 0;
}
header .navbar {
  padding: 20px 10px;
  transition: all 0.3s ease-in-out;
  isolation: isolate;
}
header .navbar .navbar-nav {
  align-items: center;
}
header .navbar .navbar-brand {
  margin: 0;
  padding: 0;
}
header .navbar .navbar-brand img {
  height: 60px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 480px) {
  header .navbar .navbar-brand img {
    height: 50px;
  }
}
header .navbar .nav-link {
  color: #121212;
  transition: all 0.3s ease-in-out;
  font-size: 12px;
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 3px;
  padding: 8px 4px;
}
header .navbar .nav-link i {
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}
header .navbar .nav-link .fa-2x {
  font-size: 1.5em;
}
header .navbar .nav-link:hover, header .navbar .nav-link:focus {
  color: #0285ce !important;
}
header .navbar .sideBtn {
  position: relative;
  width: 24px;
  height: 24px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  z-index: 99999;
}
header .navbar .sideBtn span {
  position: absolute;
  display: block;
  width: 24px;
  height: 2px;
  background-color: #ed693c;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}
header .navbar .sideBtn span:first-child {
  top: 0;
}
header .navbar .sideBtn span:nth-child(2) {
  width: 10px;
  top: 7px;
}
header .navbar .sideBtn span:nth-child(3) {
  width: 16px;
  bottom: 0;
}
header .navbar .sideBtn:not(.active):hover span:first-child {
  width: 16px;
}
header .navbar .sideBtn:not(.active):hover span:nth-child(2) {
  width: 20px;
}
header .navbar .sideBtn.active span {
  background-color: #ed693c !important;
}
header .navbar .sideBtn.active span:first-child {
  transform: rotate(45deg);
  top: 8px;
  width: 20px;
}
header .navbar .sideBtn.active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
header .navbar .sideBtn.active span:last-child {
  transform: rotate(-45deg);
  top: 8px;
  width: 20px;
}
header .navbar .sideMenu {
  position: fixed;
  z-index: 99998;
  right: -100%;
  top: 0;
  height: 100vh;
  background-color: #f3f3f9;
  padding: 50px 24px;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
header .navbar .sideMenu.active {
  right: 0px;
}
header .navbar .sideMenu .sideMenuInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 100%;
}
header .navbar .sideMenu .sideMenuInner .sideMenuLink {
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 5px;
  color: #121212;
  padding: 8px 0;
  transition: all 0.3s ease-in-out;
}
header .navbar .sideMenu .sideMenuInner .sideMenuLink:hover {
  color: #0285ce;
}
header .navbar .dropdown {
  text-align: center;
}
header .navbar .dropdown .userImg {
  width: 36px;
  height: 36px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 1px solid #0285ce;
}
header .navbar .dropdown .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .navbar .dropdown .dropdown-toggle::after {
  border: none !important;
  content: "\f104" !important;
  font-family: "Font Awesome 6 Pro";
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  width: 10px !important;
  padding-left: 10px;
}
header .navbar .dropdown .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOutDown !important;
          animation-name: fadeOutDown !important;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  background-color: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
  padding: 5px 0;
  right: unset;
  top: 100%;
  left: -50%;
  margin-top: 0;
  border: none;
}
header .navbar .dropdown .dropdown-menu a {
  border-radius: 2px;
  padding: 8px 12px;
  padding-right: 16px;
  margin-bottom: 5px;
  position: relative;
  transition: #ed693c;
}
header .navbar .dropdown .dropdown-menu a::before {
  position: absolute;
  right: 0;
  top: 50%;
  content: "";
  width: 0px;
  height: 80%;
  background-color: #ed693c;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transition: 0.1s ease-in-out;
  transform: translateY(-50%);
}
header .navbar .dropdown .dropdown-menu a i {
  color: #777777;
}
header .navbar .dropdown .dropdown-menu a:hover i {
  color: #ed693c;
}
header .navbar .dropdown .dropdown-menu a:hover::before {
  width: 5px;
}
header .navbar .dropdown:hover .dropdown-menu, header .navbar .dropdown:focus .dropdown-menu {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInUp !important;
          animation-name: fadeInUp !important;
}
@media (min-width: 768px) {
  header .navbar .dropdown:hover .dropdown-menu, header .navbar .dropdown:focus .dropdown-menu {
    display: block;
  }
}
@media (max-width: 768px) {
  header .navbar .dropdown .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
    box-shadow: none;
    text-align: center;
    background-color: #ffffff;
    margin: 10px 0;
    transform: translateX(-50%);
    left: 50%;
  }
  header .navbar .dropdown:hover .dropdown-menu {
    -webkit-animation-name: unset !important;
            animation-name: unset !important;
  }
}
header .headerAnimate {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
  padding: 5px;
  background-color: #f3f3f9;
}

.animatedLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #ed693c;
  transition: all 0.3s ease-in-out;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background: none;
  isolation: isolate;
}
.animatedLink i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  transition: width 0.3s ease-in-out;
}
.animatedLink i span {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border: 1px solid #ed693c;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
}
.animatedLink:hover {
  padding: 0 20px;
  color: #ffffff;
}
.animatedLink:hover i {
  width: 20px;
}
.animatedLink:hover i span {
  width: 100%;
  border: 1px solid #ed693c;
  background-color: #ed693c;
}

.main {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .main {
    margin-bottom: 10px;
  }
}
.main .mainSliderContainer {
  border-radius: 16px;
}
.main .swiper {
  width: 100%;
  height: 100%;
}
.main .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 450px;
}
.main .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}

.mainContent {
  display: flex;
}
@media (max-width: 1200px) {
  .mainContent {
    flex-direction: column;
  }
}
.mainContent .statistics {
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
@media (max-width: 1200px) {
  .mainContent .statistics {
    flex-direction: row;
    padding: 16px 0;
    flex-wrap: wrap;
  }
}
.mainContent .statistics .statistic {
  width: 200px;
  height: 100%;
  background-color: rgba(2, 133, 206, 0.1254901961);
  border: 2px solid #ffffff;
  text-align: center;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 750px) and (max-width: 1000px) {
  .mainContent .statistics .statistic {
    width: 160px;
  }
}
@media (min-width: 340px) and (max-width: 420px) {
  .mainContent .statistics .statistic {
    width: 170px;
  }
}
@media (max-width: 380px) {
  .mainContent .statistics .statistic {
    width: 130px;
  }
}
.mainContent .statistics .statistic span {
  font-size: 25px;
  font-weight: bold;
  color: #ed693c;
}
.mainContent .statistics .statistic span small {
  font-size: 12px;
  color: #777777;
}

.sideData {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .sideData {
    flex-wrap: nowrap;
  }
}

.filterData {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#82ddff, #0285ce);
  border-radius: 16px;
  border: 2px solid #ffffff;
  width: 100%;
}
.filterData .data {
  padding: 10px 20px;
  color: #ffffff;
}
.filterData .data h1 {
  margin-bottom: 20px;
}
.filterData img {
  width: 45%;
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
  height: 140px;
}
@media (min-width: 786px) {
  .filterData img {
    height: 100%;
  }
}

.nextChangeDate {
  border: 2px solid #ed693c;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 100%;
}
.nextChangeDate .head {
  padding: 20px 20px;
  background-color: #ed693c;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 16px;
  color: #ffffff;
  gap: 5px;
  margin-bottom: 10px;
  position: relative;
  top: -2px;
  width: calc(100% + 2px);
}
.nextChangeDate .head i {
  font-size: 20px;
}
.nextChangeDate .head .date {
  margin-right: auto;
}

.timer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.timer div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(237, 105, 60, 0.1254901961);
  color: #ed693c;
  min-width: 85px;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  margin: 5px;
  padding: 10px 10px 15px;
}
.timer div span {
  display: block;
  font-size: 14px;
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.sectionTitle .title {
  position: relative;
  font-weight: bold;
  padding-right: 20px;
}
.sectionTitle .title::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: #ed693c;
  position: absolute;
  right: 0;
  top: 0;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.sectionTitle a {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px !important;
  padding-right: 10px;
}

.allVendors,
.newestProducts {
  padding: 20px 0 30px;
}

.specialProductsSlider,
.offersSlider,
.allVendorsSlider,
.productsSlider {
  padding: 20px 0;
}
.specialProductsSlider .swiper-slide,
.offersSlider .swiper-slide,
.allVendorsSlider .swiper-slide,
.productsSlider .swiper-slide {
  height: auto;
}

.allVendors {
  background-color: rgba(2, 133, 206, 0.062745098);
  margin-bottom: 30px;
}

.price {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.price .currentPrice {
  font-weight: bold;
  font-size: 22px !important;
  color: #ed693c;
  margin-left: 10px;
}
.price .currentPrice span {
  font-weight: normal;
  font-size: 12px !important;
  color: #777777;
}
.price .oldPrice {
  font-size: 16px !important;
  color: #777777;
  text-decoration: line-through;
}
.price .oldPrice span {
  font-weight: normal;
  font-size: 10px !important;
  text-decoration: line-through;
}

.rate {
  padding: 0;
  margin-bottom: 0px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2px;
}
.rate i {
  color: #ffd700;
}

.product {
  position: relative;
  border: 1px solid #dadada;
  border-radius: 16px;
  padding: 8px 12px;
  background-color: #ffffff;
  transition: all 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.product .productImg {
  width: 100%;
  aspect-ratio: 3/2.5;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
.product .data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product .data .name {
  color: #121212;
}
.product .data .shop {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.product .data .shop img {
  width: 32px;
  height: 32px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
.product .data .shop p {
  color: #121212;
}
.product .sale {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #0285ce;
  color: #ffffff;
  padding: 6px 12px;
  border-radius: 100px;
}
.product:hover {
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
  transform: translateY(-10px);
}

.form-switch .form-check-input {
  height: 22px;
  width: 44px;
}

.offerSwitch {
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.offerOptions {
  display: none;
  padding: 16px;
  background-color: rgba(2, 133, 206, 0.062745098);
  margin-top: 10px;
  border-radius: 16px;
}
.offerOptions .dateDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
.offerOptions .dateDiv .dateInput {
  flex: 1;
}
.offerOptions .nav-tabs {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 10px;
  border: none;
}
.offerOptions .nav-tabs .nav-link {
  background-color: #777777;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  flex: 1;
  padding: 16px;
  min-width: 100px;
}
.offerOptions .nav-tabs .nav-link.active {
  background-color: #ed693c;
}

.specialProducts {
  position: relative;
}
.specialProducts .product {
  flex-direction: row;
  align-items: center;
}
.specialProducts .product .productImg {
  width: 150px;
}
@media (max-width: 1200px) {
  .specialProducts .product .productImg {
    width: 100px;
  }
}
.specialProducts .product .data {
  padding: 10px;
}
.specialProducts .product:hover {
  box-shadow: none;
  transform: none;
}
.specialProducts .special {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffd700;
  color: #121212;
  padding: 6px 12px;
  border-radius: 100px;
}

.vendor {
  padding: 12px 6px;
  text-align: center;
  display: flex;
  color: #121212;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
.vendor img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #f3f3f9;
  margin-bottom: 10px;
  border: 3px solid #ffffff;
  border-radius: 1000px;
}
.vendor h4 {
  max-width: 132px;
  margin: auto;
}
.vendor:hover {
  transform: translateY(-5px);
}

.explanations {
  padding: 20px 0;
  display: block;
  position: relative;
}

.explanation {
  position: relative;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 16px;
  margin-top: 20px;
}
.explanation .imgFrame {
  display: block;
  position: relative;
}
.explanation .imgFrame img {
  height: 200px;
  border-radius: 16px;
  margin-left: 16px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.explanation .imgFrame a {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5019607843);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}
.explanation .imgFrame a i {
  font-size: 48px !important;
  color: #ff0000;
}
.explanation .imgFrame:hover a {
  opacity: 1;
  visibility: visible;
}
.explanation .info {
  padding: 10px 0;
}
.explanation .info .date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.explanation .info .date i {
  font-size: 20px !important;
  color: #ed693c;
}
.explanation .info .title {
  font-weight: bold;
  margin-bottom: 16px;
}
.explanation .info p {
  color: #777777;
}
.explanation .info .tags span {
  padding: 2px;
  color: #ed693c;
}
@media (max-width: 768px) {
  .explanation {
    flex-direction: column;
  }
}

.shopPage .side {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.shopPage .side .categories {
  display: flex;
  flex-direction: column;
}
.shopPage .side .categories a {
  padding: 16px 20px;
  display: block;
  border-radius: 16px;
  background-color: #dadada;
  color: #777777;
  white-space: nowrap;
  margin-bottom: 10px;
}
.shopPage .side .categories a.active {
  background-color: #ed693c;
  color: #ffffff;
}
@media (max-width: 991px) {
  .shopPage .side .categories {
    flex-direction: row;
    overflow-x: scroll;
  }
  .shopPage .side .categories::-webkit-scrollbar {
    display: none !important;
  }
  .shopPage .side .categories a {
    margin: 2px;
  }
}
.shopPage .side .priceFilter {
  padding-top: 10px;
}
.shopPage .side .priceFilter .priceLabel i {
  color: #ed693c;
}
.shopPage .side .priceFilter .inputsDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  gap: 2px;
}
.shopPage .side .priceFilter .inputsDiv input {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #777777;
  text-align: right !important;
}
.shopPage .side .priceFilter .inputsDiv input::-moz-placeholder {
  text-align: right !important;
  font-size: 12px;
}
.shopPage .side .priceFilter .inputsDiv input:-ms-input-placeholder {
  text-align: right !important;
  font-size: 12px;
}
.shopPage .side .priceFilter .inputsDiv input::placeholder {
  text-align: right !important;
  font-size: 12px;
}
.shopPage .side .priceFilter .btn {
  background-color: #ed693c;
  color: #ffffff;
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.search {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .search {
    margin: 10px 0;
  }
}
.search .icon {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #ced4da;
  border-left: none;
  color: #777;
}
.search input {
  border-right: none;
}

.routeNav {
  display: flex;
  align-items: center;
  background-color: #d4f0ff;
  border-radius: 8px;
  padding: 10px 30px;
  transition: all 0.3s ease-in-out;
  border: 2px solid #ffffff;
  margin-bottom: 20px;
}
.routeNav .Back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  background-color: #0285ce;
  color: #ffffff;
  border-radius: 100%;
  margin-left: 30px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  border: none;
}
.routeNav .Back:hover {
  background-color: #ed693c;
}
.routeNav .Back .fa-angle-right:before {
  content: "\f105";
}
.routeNav ul {
  margin: 0;
  list-style: none;
  transition: all 0.3s ease-in-out;
  padding: 0;
}
.routeNav ul li {
  display: inline-flex;
  padding: 10px;
  color: #0285ce;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.routeNav ul li a {
  transition: all 0.3s ease-in-out;
  color: #0285ce;
}
.routeNav ul li a:hover {
  color: #ed693c;
}
.routeNav ul li a.active {
  color: #ed693c;
  cursor: default;
  font-weight: bold;
}
.routeNav ul li a img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: 2px solid #ffffff;
  margin-left: 3px;
}
.routeNav ul li::after {
  content: " / ";
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: -3px;
  top: 50%;
  transform: translateY(-50%);
}
.routeNav ul li:last-child:after {
  display: none;
}
@media (max-width: 768px) {
  .routeNav {
    padding: 10px 10px;
  }
  .routeNav .Back {
    margin-left: 20px;
  }
  .routeNav ul li a {
    font-size: 16px;
  }
}

.explanationPage .explanation {
  margin-bottom: 20px;
}
.explanationPage .explanation img {
  height: 100%;
  max-height: 400px;
  margin-bottom: 20px;
}

.orange {
  background-color: #ed693c;
  color: #ffffff !important;
}

.share {
  margin-top: 40px;
}
.share h4 {
  font-weight: bold;
}
.share .icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.share .icons a {
  margin: 2px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: 1px solid #121212;
  color: #121212;
}
.share .icons a i {
  font-size: 18px !important;
}
.share .icons a:hover {
  transform: translateY(-5px);
  background-color: #ed693c;
  color: #ffffff;
  border-color: #ffffff;
}

.btnOrange {
  background-color: #ed693c;
  color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0px 6px 0px #be3406;
  color: #ffffff !important;
  transition: all 0.3s ease-in-out;
}
.btnOrange:hover {
  transform: translateY(8px);
  box-shadow: none;
}

.productDetailsPage {
  background: #ffffff;
  border-radius: 16px;
  margin-bottom: 10px;
}
.productDetailsPage .productDetailsSlider img {
  height: 400px;
  padding: 10px;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.productDetailsPage .info {
  padding: 20px 10px;
}
.productDetailsPage .info .productImg {
  width: 100%;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin-bottom: 12px;
}
.productDetailsPage .info .name {
  color: #121212;
  margin-bottom: 12px;
}
.productDetailsPage .info .price {
  font-weight: bold;
  font-size: 28px !important;
  color: #ed693c;
}
.productDetailsPage .info .price span {
  font-weight: normal;
  font-size: 14px !important;
  color: #777777;
}
.productDetailsPage .info .shop {
  background: linear-gradient(90deg, #0285ce, #5bc3ff);
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.productDetailsPage .info .shop .details {
  display: flex;
  align-items: center;
}
.productDetailsPage .info .shop .details img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
.productDetailsPage .info .shop .details h4 {
  color: #ffffff;
  font-weight: bold;
}
.productDetailsPage .info .shop .link {
  color: #ffffff;
}
.productDetailsPage .info .Specifications {
  margin: 20px 0;
  padding: 20px 16px;
  background: #e6f3fa;
  border-radius: 16px;
}
.productDetailsPage .info .Specifications h4 {
  font-weight: bold;
  margin-bottom: 15px;
  color: #0285ce;
}
.productDetailsPage .info .Specifications li {
  color: #777777;
  margin-bottom: 10px;
}
.productDetailsPage .productControl {
  text-align: center;
}
.productDetailsPage .productControl .btn {
  padding: 10px 30px;
}
.productDetailsPage .productControl .btn.btn-danger {
  background-color: red;
}

.control {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.control .delete {
  border: none;
  background: none;
  font-size: 24px !important;
  color: #777777;
  margin: 0px 10px;
}

.quantity {
  border: 1px solid #0285ce;
  background-color: #ffffff;
  border-radius: 100px;
  display: flex;
}
.quantity input {
  border: none;
  margin: 0 5px;
  text-align: center;
  width: 100%;
  min-width: 20px;
}
.quantity button {
  border: none;
  min-width: 48px;
  min-height: 48px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  font-size: 24px !important;
  color: #0285ce;
}
@media (max-width: 992px) {
  .quantity button {
    min-width: 32px;
    min-height: 32px;
  }
}

.cartPage {
  margin: 30px 0;
}
.cartPage .cart {
  background-color: #e6f3fa;
  border-radius: 16px;
  padding: 40px 20px 20px;
  position: relative;
  border: 1px solid #0285ce;
  margin-left: 20px;
}
@media (max-width: 992px) {
  .cartPage .cart {
    padding: 30px 10px 10px;
  }
}
@media (max-width: 768px) {
  .cartPage .cart {
    margin-left: 0;
  }
}
.cartPage .cart .shop {
  background-color: #0285ce;
  color: #ffffff;
  padding: 10px;
  padding-left: 15px;
  border-radius: 100px;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: -30px;
  right: 20px;
}
.cartPage .cart .shop img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  margin-left: 4px;
}
.cartPage .cart .cartProducts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartPage .cart .cartProducts .cartProduct {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct {
    padding: 10px;
  }
}
.cartPage .cart .cartProducts .cartProduct a {
  display: block;
  margin-left: 10px;
}
.cartPage .cart .cartProducts .cartProduct a img {
  height: 150px;
  min-width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct a img {
    height: 100px;
    min-width: 100px;
  }
}
.cartPage .cart .cartProducts .cartProduct .info {
  width: 100%;
}
@media (max-width: 992px) {
  .cartPage .cart .cartProducts .cartProduct .info {
    padding: 10px 0;
  }
}
.cartPage .cart .cartProducts .cartProduct .info .name {
  color: #121212;
  font-weight: bold;
  margin-bottom: 12px;
}
.cartPage .checkout {
  background-color: #ffffff;
  border-radius: 16px;
  padding: 20px;
}
@media (max-width: 768px) {
  .cartPage .checkout {
    margin-top: 20px;
  }
}
.cartPage .totalPrice {
  display: flex;
  align-items: center;
}
.cartPage .totalPrice p {
  font-weight: bold;
  margin-left: 5px;
  color: #777777;
}
.cartPage .bill {
  background-color: #e6f3fa;
  border-radius: 16px;
  margin-top: 20px;
  padding: 20px;
  list-style: none;
}
.cartPage .bill li {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ffffff;
}
.cartPage .bill li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.cartPage .bill li img {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin-left: 10px;
}
.cartPage .bill li .info p {
  font-weight: bold;
  margin-bottom: 10px;
}
.cartPage .bill li .info span {
  color: #ed693c;
  font-weight: bold;
}

.contactUs form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  display: flex;
  align-items: center;
}
.contactUs form img {
  width: 400px;
  height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 20px;
}
.contactUs form .massageDiv {
  width: 100%;
}
@media (max-width: 992px) {
  .contactUs form img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 768px) {
  .contactUs form {
    flex-direction: column;
  }
  .contactUs form img {
    width: 100%;
    height: auto;
    margin-left: 0;
    padding: 0 40px;
  }
  .contactUs form .massageDiv {
    margin-top: 50px;
  }
}

.account .card {
  isolation: isolate;
  padding: 30px;
  margin-bottom: 10px;
  border-radius: 14px;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1254901961);
}
@media (max-width: 768px) {
  .account .card {
    padding: 30px 10px;
  }
}
.account .card .loginImg {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 20px 0 50px;
}
@media (max-width: 768px) {
  .account .card .loginImg {
    padding: 0 30px;
  }
}
.account label i {
  color: #0285ce;
}
.account .socialLogin {
  text-align: center;
}
.account .socialLogin .line {
  padding: 10px 20px;
  margin: auto;
  position: relative;
}
.account .socialLogin .line span {
  background-color: #fff;
  z-index: 2;
  position: relative;
  padding: 0px 20px;
}
.account .socialLogin .line::before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #666;
  border-radius: 10px;
}
.account .socialLogin .social {
  display: flex;
  padding: 10px 0;
  margin-bottom: 10px;
}
.account .socialLogin .social .loginIcon {
  padding: 10px 16px;
  margin: 0px 5px;
  width: 100%;
  border-radius: 4px;
  color: #fff;
  text-transform: capitalize;
}
.account .socialLogin .social .loginIcon.facebook {
  background-color: #4267b2;
}
.account .socialLogin .social .loginIcon.gmail {
  background-color: #db4437;
}
.account .socialLogin .social .loginIcon:hover {
  transform: translateY(-2px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1882352941);
}

.vCode {
  direction: ltr;
  padding: 20px 0px;
  display: flex;
  justify-content: space-around;
}
.vCode .vCode-input {
  min-width: 40px;
  width: 100%;
  height: 60px;
  background-color: #eee;
  border: none;
  border-bottom: 2px solid #ed693c;
  text-align: center;
  font-size: 18px;
  border-radius: 4px 4px 0 0;
}

.userType {
  padding-bottom: 30px;
}
.userType .title {
  margin: 30px 0;
}
.userType .title h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.userType .title h1 span {
  color: #ed693c;
}
.userType .title h5 {
  color: #777777;
}
.userType .type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .userType .type {
    flex-direction: column;
  }
}
.userType .type .form-check {
  padding: 5px;
  width: 100%;
  height: 100%;
}
.userType .type .form-check .form-check-input {
  display: none;
}
.userType .type .form-check .form-check-label {
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
  border: 3px solid transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.userType .type .form-check .form-check-label .info h2 {
  font-weight: bold;
  margin-bottom: 10px;
}
.userType .type .form-check .form-check-label .info p {
  color: #777777;
}
.userType .type .form-check .form-check-label img {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 5px;
}
@media (max-width: 768px) {
  .userType .type .form-check .form-check-label img {
    width: 100px;
    height: 100px;
  }
}
.userType .type .form-check .form-check-input:checked ~ .form-check-label {
  border: 3px solid #ed693c;
}
.userType .btnOrange {
  min-width: 200px;
  margin: auto;
}

input::-moz-placeholder {
  font-size: 12px !important;
}

input:-ms-input-placeholder {
  font-size: 12px !important;
}

input::placeholder {
  font-size: 12px !important;
}

.profileImg .dropify-wrapper {
  width: 200px;
  height: 200px;
  min-height: 200px;
  margin: auto;
  border-radius: 100%;
}
@media (max-width: 768px) {
  .profileImg .dropify-wrapper {
    border-radius: 8px;
    height: auto;
  }
}

.notificationsPage {
  margin-bottom: 20px;
}
.notificationsPage .notifications {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 16px;
  list-style: none;
  margin: 0;
}
.notificationsPage .notifications .info {
  margin-bottom: 5px;
  border-bottom: 1px dashed #777777;
  padding: 20px 0;
}
.notificationsPage .notifications .info:last-child {
  border: none;
}
.notificationsPage .notifications .info .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.notificationsPage .notifications .info .title h3 {
  font-weight: bold;
}
.notificationsPage .notifications .info .title .time {
  white-space: nowrap;
}
.notificationsPage .notifications .info .title .time span {
  color: #ed693c;
  font-weight: bold;
}
.notificationsPage .notifications .info p {
  color: #777777;
  margin-bottom: 10px;
}
.notificationsPage .notifications .info .filtars {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.notificationsPage .notifications .info .filtars .filtar {
  background-color: #e6f3fa;
  padding: 10px;
  border-radius: 16px;
  margin: 5px;
  text-align: center;
}
.notificationsPage .notifications .info .filtars .filtar img {
  width: 80px;
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.myOrders .orders {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
}
.myOrders .orders .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.myOrders .orders .nav .nav-link {
  width: 100%;
  border: 3px solid transparent;
  color: #121212;
  transition: all 0.3s ease-in-out;
}
.myOrders .orders .nav .nav-link.active {
  color: #0285ce;
  border-bottom: 3px solid #0285ce;
}
.myOrders .orders .order {
  padding: 16px;
  position: relative;
  border: 1px solid #0285ce;
  background-color: #e6f3fa;
  border-radius: 16px;
  margin-top: 50px;
  padding-top: 40px;
}
.myOrders .orders .order .userName {
  font-weight: bold;
  margin-bottom: 15px;
}
.myOrders .orders .order .shop {
  position: absolute;
  top: -20px;
  right: 20px;
  border-radius: 100px;
  padding: 5px;
  padding-left: 10px;
  background-color: #0285ce;
  color: #ffffff;
  display: flex;
  align-items: center;
}
.myOrders .orders .order .shop img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 5px;
}
.myOrders .orders .order .info {
  margin-bottom: 20px;
}
.myOrders .orders .order .info .title {
  font-weight: bold;
  color: #777777;
  font-size: 12px !important;
  margin-bottom: 5px;
}
.myOrders .orders .order .info .data {
  display: flex;
  align-items: center;
}
.myOrders .orders .order .info .data h6 {
  margin-left: 15px;
}
.myOrders .orders .order .info .data h6 i {
  color: #0285ce;
}

.myOrderDetails {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  margin-bottom: 10px;
}
.myOrderDetails .shop {
  background: linear-gradient(90deg, #0285ce, #5bc3ff);
  padding: 10px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myOrderDetails .shop .details {
  display: flex;
  align-items: center;
}
.myOrderDetails .shop .details img {
  width: 64px;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 100%;
}
.myOrderDetails .shop .details h4 {
  color: #ffffff;
  font-weight: bold;
}
.myOrderDetails .shop .icon {
  color: #ffffff;
  background-color: #ed693c;
  width: 48px;
  height: 48px;
  font-size: 20px !important;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.myOrderDetails .order {
  padding: 16px;
  position: relative;
  border: 1px solid #0285ce;
  background-color: #e6f3fa;
  border-radius: 16px;
  height: 100%;
}
.myOrderDetails .order .info {
  margin-bottom: 20px;
}
.myOrderDetails .order .info .title {
  font-weight: bold;
  color: #777777;
  font-size: 12px !important;
  margin-bottom: 5px;
}
.myOrderDetails .order .info .data {
  display: flex;
  align-items: center;
}
.myOrderDetails .order .info .data h6 {
  margin-left: 15px;
}
.myOrderDetails .order .info .data h6 i {
  color: #0285ce;
}
.myOrderDetails .bill {
  background-color: #e6f3fa;
  border-radius: 16px;
  padding: 16px;
  list-style: none;
  border: 1px solid #0285ce;
  margin: 0;
  height: 100%;
}
.myOrderDetails .bill li {
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px dashed #ffffff;
}
.myOrderDetails .bill li:last-child {
  padding-bottom: 0px;
  border-bottom: none;
}
.myOrderDetails .bill li img {
  width: 72px;
  height: 72px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 8px;
  margin-left: 10px;
}
.myOrderDetails .bill li .info p {
  font-weight: bold;
  margin-bottom: 10px;
}
.myOrderDetails .bill li .info span {
  color: #ed693c;
  font-weight: bold;
}
.myOrderDetails .status {
  background-color: #eee;
  border: 1px solid #777777;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.myOrderDetails .status .orderStatus {
  background-color: #ed693c;
  color: #ffffff;
  padding: 16px 24px;
  border-radius: 16px;
}

.filterSetting .title {
  margin: 30px 0;
}
.filterSetting .title h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.filterSetting .title h1 span {
  color: #ed693c;
}
.filterSetting .title h5 {
  color: #777777;
}
.filterSetting form {
  padding: 16px;
  border-radius: 16px;
  background-color: #ffffff;
  margin-bottom: 20px;
}
.filterSetting form .form-label {
  display: flex;
  align-items: center;
}
.filterSetting form .form-label i {
  color: #ed693c;
  font-size: 20px;
}
.filterSetting .customCheck {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
  border-color: #ed693c;
}
.filterSetting .customCheck:checked {
  background-color: #ed693c;
  border-color: #ed693c;
}
.filterSetting .filtarDates {
  display: none;
}
.filterSetting .filtarDates label {
  white-space: nowrap;
  min-width: 150px;
}

footer {
  position: relative;
  display: block;
  width: 100%;
  transition: 0.3s ease-in-out;
  color: #777777;
  overflow: hidden;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 30px;
}
footer .container {
  margin: 0px auto;
  max-width: 940px;
}
footer .container::before {
  z-index: -1;
  content: "";
  display: block;
  width: 200%;
  height: 0px;
  padding-top: 200%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0px;
  background-image: url("../img/footer.svg");
  position: absolute;
  top: 20px;
  left: -50%;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.062745098));
}
@media (max-width: 768px) {
  footer .container::before {
    width: 350%;
    padding-top: 350%;
    left: -130%;
  }
}
footer .logo {
  text-align: center;
  padding: 0px 30px 0;
}
footer .logo img {
  height: 80px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  footer .logo img {
    height: 70px;
  }
}
footer .links {
  text-align: center;
  padding: 50px 0 30px;
}
footer .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .links ul li {
  display: inline-block;
  padding: 10px;
}
footer .links ul li a {
  color: #121212;
  transition: all 0.3s ease-in-out;
}
footer .links ul li a:hover {
  color: #0285ce;
}
footer .social {
  text-align: center;
}
footer .social ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer .social ul li {
  display: inline-block;
  padding: 5px;
}
footer .social ul li a {
  width: 100%;
  height: 100%;
  display: inline-flex;
  min-width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #777777;
  border-radius: 100px;
  border: 1px solid #777777;
  transition: all 0.3s ease-in-out;
}
footer .social ul li a:hover {
  background-color: #ed693c;
  color: #ffffff;
  border: 1px solid #ed693c;
  transform: translateY(-5px);
}
footer .quickLinks {
  margin-top: 30px;
}
footer .quickLinks a {
  padding: 8px;
  display: inline-block;
  color: #777777;
}
footer .quickLinks a:hover {
  color: #ed693c;
}

.aboutUs .data {
  padding: 16px;
  border-radius: 16px;
  background: #ffffff;
  text-align: center;
}
.aboutUs .data .logo {
  height: 70px;
  margin-bottom: 20px;
}
.aboutUs .data p {
  color: #777777;
  margin-bottom: 10px;
}

.rateModal .modal-content {
  border-radius: 16px;
}
.rateModal .modal-content .modal-header {
  border: none;
}
.rateModal .modal-content .modal-header .modal-title {
  font-weight: bold;
}

.commentsModal .modal-content {
  border-radius: 16px;
}
.commentsModal .modal-content .modal-header {
  border: none;
}
.commentsModal .modal-content .modal-header .modal-title {
  font-weight: bold;
}
.commentsModal .modal-content .allcomments {
  padding-top: 20px;
  max-height: 70vh;
  overflow: auto;
}
.commentsModal .modal-content .allcomments .comment {
  padding: 5px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #eee;
}
.commentsModal .modal-content .allcomments .comment:last-child {
  border: none;
  margin: 0;
}
.commentsModal .modal-content .allcomments .comment .head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.commentsModal .modal-content .allcomments .comment .head .userName {
  font-weight: bold;
}
.commentsModal .modal-content .allcomments .comment .head .data {
  color: #777777;
}
.commentsModal .modal-content .allcomments .comment .massage {
  color: #777777;
}

/* PC device :991px. */
@media (min-width: 991px) {
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 24px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}
/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  /* Global */
  body {
    font-size: 14px !important;
  }
  h1 {
    font-size: 26px !important;
  }
  h2 {
    font-size: 22px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 18px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}
/* small mobile :320px. */
@media (max-width: 767px) {
  /* Global */
  body {
    font-size: 13px !important;
  }
  h1 {
    font-size: 23px !important;
  }
  h2 {
    font-size: 19px !important;
  }
  h3 {
    font-size: 18px !important;
  }
  h4 {
    font-size: 17px !important;
  }
  h5 {
    font-size: 16px !important;
  }
  h6 {
    font-size: 15px !important;
  }
  a,
p {
    font-size: 14px !important;
  }
}/*# sourceMappingURL=style.css.map */